<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    <header>
      <h1>Welcome to the Dashboard</h1>
    </header>

    <main>
      <h2>Book Table</h2>
      <table>
        <thead>
          <tr>
            <th>Book ID</th>
            <th>Book Name</th>
            <th>Author Name</th>
            <th>Publication Year</th>
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
          <tr>
            <td>{{ book.book_id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.publication_year }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>

    <footer>
      <p>© GROUP F6 App 2024</p>
    </footer>
  </body>
</html>
