<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles.css') }}"
  />
    <title>Sign Up Error</title>
  </head>

  <body>
    <header><h1>Error Occurred</h1></header>
    
    <p>
      Sorry, there was an error during the sign-up process. Please try again
      later.
    </p>

    <footer>
      <p>© GROUP F6 App 2024</p>
    </footer>
  </body>
 
</html>